.menu.well
	%ul.nav.nav-list
		%li.nav-header
			Collections
		%li
			= link_to t('model.collection').html_safe, admin_collections_path
		%li
			= link_to t('model.parameter').html_safe, admin_parameters_path

